%main-button {
  height: rem(56);
  color: white;
  background-color: $text-color-dark;
  border: none;
  outline: none;
  text-transform: uppercase;

  &:hover {
    background-color: rgba(80, 80, 80, 1);
    cursor: pointer;
  }

  &:active {
    background: #000000;
  }
}

%secondary-button {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: 1px solid #303030;
  outline: none;
  font-weight: 500;
  font-size: rem(14);
  color: #303030;
  height: rem(56);

  &:hover {
    background: #303030;
    border: none;
    color: white;
  }

  &:active {
    background: #000000;
  }
}

%arrow-btn {
  position: absolute;
  border: none;
  outline: none;
  background: transparent;
  border-radius: 50%;

  &:hover {
    background: #f5f5f5;
  }
}

%sale-btn {
  @include adaptive-value('font-size', 14, 12);
  width: rem(110);
  height: rem(40);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
  outline: none;
  border: none;
  border-radius: rem(21);

  &.active {
    background: $text-color-dark;
    color: white;
  }
  &.active:hover {
    background: $text-color-dark;
    color: white;
  }

  &:hover {
    background: #dddddd;
    cursor: pointer;
  }
}

%sizes-btn {
  width: rem(52);
  height: rem(32);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid #dadada;

  &:hover:not(:disabled) {
    border: 1px solid #303030;
  }
}
