.commercial {
  @include adaptive-value('margin-bottom', 120, 20);

  &__inner {
    @include flex;
    gap: rem(5);

    @include media(650px) {
      overflow-x: scroll;
    }
  }

  &__img {
    width: 100%;
    max-width: 420;
    min-width: 320;
  }
}
