.promo {
  @include adaptive-value('margin-bottom', 120, 50);
  padding-top: rem(12);
  position: relative;
  margin-bottom: rem(120);

  &__inner {
    @include flex;
    background: $color-main;
    height: 100%;
    max-height: rem(560);
    min-height: rem(320);

    @include media(746px) {
      flex-direction: column;
      padding-bottom: rem(10);
    }
  }

  &__content {
    @include flex;
    flex-direction: column;
    @include adaptive-value('padding-left', 126, 40);

    @include media(746px) {
      display: none;
    }
  }

  &__img {
    object-fit: cover;
    width: 100%;
    max-width: rem(548);
    min-width: rem(250);

    max-height: rem(548);
    min-height: rem(250);

    @include media(746px) {
      margin: 0 auto;
    }
  }

  &__inner-arrow-left,
  &__inner-arrow-right {
    z-index: 1;
    @extend %arrow-btn;
    top: 50%;
    transform: translateY(-50%);

    @include media(440px) {
      display: none;
    }
  }

  &__inner-arrow-left {
    left: rem(24);
  }
  &__inner-arrow-right {
    right: rem(24);
  }
}

.promo-content {
  color: $text-color-dark;

  &__subtitle {
    font-family: 'Prata';
    font-weight: 400;
    @include adaptive-value('font-size', 20, 10);
    margin-bottom: rem(30);
  }

  &__title {
    @include adaptive-value('font-size', 50, 10);
    font-family: 'Prata';
    font-weight: 400;
    margin-bottom: rem(54);
  }

  &__button {
    @extend %main-button;
    width: rem(250);
    align-self: flex-start;
  }

  &__button-mobile {
    @extend %main-button;
    width: rem(250);
    display: none;

    @include media(746px) {
      display: block;
      text-transform: uppercase;
    }
  }
}

// slider

.swiper-promo {
  position: relative;
  .swiper-pagination {
    display: flex;
    gap: rem(8);
    position: absolute;
    right: 50%;
    bottom: rem(24);
    z-index: 1;
    @include media(750px) {
      display: none;
    }
  }
  .swiper-pagination-bullet {
    display: inline-block;
    width: rem(8);
    height: rem(8);
    background: transparent;
    border: 1px solid black;
    border-radius: 50%;

    &-active {
      background: black;
    }
  }

  // .swiper-button-prev::before {
  //   content: url('../../img/slider/arrow-left.svg');
  // }
}
