.sale {
  @include adaptive-value('margin-bottom', 120, 15);
  font-size: rem(14);
  color: $text-color-dark;

  &__title {
    margin-bottom: rem(20);
  }
}

.top-sale {
  @include flex;
  margin-bottom: rem(36);
  @include media(646px) {
    display: block;
  }

  &__categories-buttons {
    @include flex;
    gap: rem(8);
  }

  &__categories-btn {
    @extend %sale-btn;
  }

  &__arrows-btn {
    @include media(646px) {
      display: none;
    }
  }

  &__arrow-left,
  &__arrow-right {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__arrow-left:disabled,
  &__arrow-right:disabled {
    img {
      opacity: 0.5;
    }
  }
}

.sale-content {
  &__cards {
    @include flex;
    flex-wrap: wrap;
    gap: rem(10);
  }
}

.sale-card {
  width: rem(310);
  height: rem(370);
  padding: rem(16) rem(20) rem(26) rem(24);
  border: 1px solid #f0f0f0;

  @include media(646px) {
    display: block;
    margin: 0 auto;
  }

  &__header {
    @include flex;
  }

  &__tag {
    width: rem(50);
    height: rem(21);
    border-radius: rem(21);
    background: $accent-green;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    visibility: hidden;
  }

  &__tag.active {
    visibility: visible;
  }

  &__icons {
    display: flex;
    flex-direction: column;
  }

  &__icon-btn {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__icon-img {
    path:hover {
      fill: #979797;
    }

    path:active {
      fill: red;
    }
  }

  &__img {
    display: block;
    margin: 0 auto;
  }

  &__price {
    font-weight: 600;
    font-size: rem(18);
    margin-bottom: rem(16);
  }

  &__descr {
    font-weight: 400;
    font-size: 14px;
  }
}
