$html-font-size: 16px;

// colors
$text-color-dark: rgba(48, 48, 48, 1);
$text-color-white: rgba(255, 255, 255, 1);
$color-main: rgba(248, 248, 248, 1);
$accent-green: rgba(67, 128, 127, 1);
$accent-red: rgba(226, 75, 51, 1);
$accent-yellow: rgba(225, 166, 97, 1);
$accent-ginger: rgba(228, 105, 66, 1);
$accent-dark: rgba(73, 81, 89, 1);
$logo-color: rgba(225, 166, 97, 1);
$logo-subtitle-color: rgba(144, 144, 144, 1);
